<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>

const csrftoken = getCookie('csrftoken');
    </script>
    <title>Artificial Intelligence Anomaly Detection</title>
</head>
    <body>
        {% block content %}
        <div class="ui container" style="width: 80%">
            <div class="ui container" style="width: 80%">
                <div class="ui red header clear">
                    <br/>
                    <h1>
                        <span class="left">Artificial Intelligence Anomaly Detection</span>
                    </h1>
                </div>
                <div class="ui three blue item menu">
                    <a href="/" class="item active"><i class="home icon"></i> Bottle control </a>
                    <a href="/settings" class="item active"></i> Settings </a>
                    <a href="/information" class="item active"></i> Information </a>
                </div>
                <div class="ui grid stackable doubled">
                    <div class="ten wide column">
                        <div class="ui center text segment">
                            <table class="ui celled table">
                                  <thead>
                                    <tr>
                                      <th>Shape</th>
                                      <th>Color</th>
                                      <th>Label</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td class="{{response.shape.class}}">{{response.shape.type}}</td>
                                      <td class="{{response.color.class}}">{{response.color.type}}</td>
                                      <td class="{{response.label.class}}">{{response.label.type}}</td>
                                    </tr>
                                  </tbody>
                            </table>
                            <div id="container">
                                <video autoplay="true" id="videoElement"></video>
                                <br/><br/>
                                <div class="ui buttons">
                                    <button class="ui button" id="click-photo">Make an image</button>
                                    <form class="ui form" method="POST">
                                        <button class="ui button" name="action" value="post_image" type="submit">Send this image</button>
                                    </form>
                                </div>
                                <br/>
                                <br/>
                                <canvas id="canvas" width="640" height="480"></canvas>

                                <script>

                                let click_button = document.querySelector("#click-photo");
                                let canvas = document.querySelector("#canvas");
                                var video = document.querySelector("#videoElement");

                                if (navigator.mediaDevices.getUserMedia) {
                                  navigator.mediaDevices.getUserMedia({
                                      video: true
                                    })
                                    .then(function(stream) {
                                      video.srcObject = stream;
                                    })
                                    .catch(function(err0r) {
                                      console.log("Something went wrong!")
                                });
                                click_button.addEventListener('click', function() {
                                    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                                    var dataURL = canvas.toDataURL("");

                                    var details = {
                                        'image': dataURL,
                                        'action': 'send_image',
                                    };

                                    var formBody = [];
                                    for (var property in details) {
                                      var encodedKey = encodeURIComponent(property);
                                      var encodedValue = encodeURIComponent(details[property]);
                                      formBody.push(encodedKey + "=" + encodedValue);
                                    }
                                    formBody = formBody.join("&");

                                    fetch('', {
                                        headers: {
                                          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                                        },
                                        body: formBody,
                                        method:"POST"
                                    })
                                        .then(response => {response.json()})
                                        .then(data => console.log(data));

                                });
                                }
                            </script>
                                <br/>
                                <br/>
                                <form class="ui form" method="POST">
                                    <div class="ui action input fluid">
                                        <input type="text" name="model_name" placeholder="Model name">
                                        <button class="ui blue button" name="action" value="new_model" type="submit">Make new model</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui center text segment">
                            {% for x in models.message %}
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui small image">
                                            <img src="/static/images/no_image_on_hand.jpg">
                                        </div>
                                    <div class="middle aligned content">
                                        <div class="header">
                                            {{x.identifier}}
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <form class="ui form" method="POST">
                                            <div class="extra">
                                                <input type="hidden" name="identifier" value="{{x.identifier}}">
                                                <button class="ui green button" name="action" value="change_model" type="">Use model</button>
                                                <button class="ui red button" name="action" value="remove_model" type="">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endblock content %}
                </div>
            </div>
            <div id="footer">
            &copy; 2021 - Zuyd ICT Academie - &nbsp;All rights reserved
            </div>
        </div>
    </body>
</html>