<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>AI Information</title>
</head>
<body>
    <div class="ui container" style="width: 100%">
        <div class="ui container" style="width: 90%">
            <div class="ui red header clear">
                <br/>
                <h1>
                    <span class="left">Artificial Intelligence Anomaly Detection</span>
                </h1>
            </div>
            <div class="ui three blue item menu">
                <a href="/" class="item active"><i class="home icon"></i> Bottle control </a>
                <a href="/settings" class="item active"></i> Settings </a>
                <a href="/information" class="item active"></i> Information </a>
            </div>
             <div class="ui grid stackable doubled">
                <div class="sixteen wide column">
                    <div class="ui center text segment">
                        Information
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>